# Flash Size and Partitioning
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000

# Allow FreeRTOS Watchdog 60s for Heavy Math and Flash Writes
CONFIG_ESP_TASK_WDT_TIMEOUT_S=60

# Enable External PSRAM (Required for Camera & AI Tensors)
CONFIG_SPIRAM=y
CONFIG_SPIRAM_BOOT_INIT=y
CONFIG_SPIRAM_USE_MALLOC=y

# Increase default WebSocket buffer sizes for Base64 Images
CONFIG_WS_BUFFER_SIZE=16384

# --- IRAM MEMORY OPTIMIZATIONS FOR PREVENTING IRAM OVERFLOW ---
# Move Wi-Fi driver functions out of IRAM to save space
CONFIG_ESP_WIFI_IRAM_OPT=n
CONFIG_ESP_WIFI_RX_IRAM_OPT=n

# Move FreeRTOS and RingBuffer functions into Flash memory
CONFIG_FREERTOS_PLACE_FUNCTIONS_INTO_FLASH=y
CONFIG_RINGBUF_PLACE_FUNCTIONS_INTO_FLASH=y