# Flash Size and Partitioning
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000

# Allow FreeRTOS Watchdog 25s for Heavy Math
CONFIG_ESP_TASK_WDT_TIMEOUT_S=60

# ── CRITICAL: ENABLE EXTERNAL PSRAM ──
CONFIG_SPIRAM=y
CONFIG_SPIRAM_BOOT_INIT=y
CONFIG_SPIRAM_USE_MALLOC=y